{% extends base_template %}
{% load staticfiles %}

{% block nemo_styles %}

{% endblock %}


{% block page_css %}
  <link rel="stylesheet" href="{% static 'complaint_common/css/main.min.css' %}">
  
{% endblock %}

{% block page_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block responsive_nav %}
<a class="toggle-menu" href="#"><i class="cf-icon cf-icon-menu"></i><span class="u-visually-hidden">Menu</span></a>
{% endblock %}

{% block nemo_js %}
{% endblock %}

{% block app_js %}
  <!--[if lte IE 8]>
      <script src="{% static 'complaint_common/js/ie8.min.js' %}"></script>
  <![endif]-->
      <script src="{% static 'complaint_common/js/main.js' %}"></script>
{% endblock %}
