#maincontent {
  width: 100%;
}

.content_wrapper {
  .respond-to-min(801px, {
      max-width: 1140px;
  });
}

.data-use {
  &_list-block {
    .respond-to-max(@bp-xs-max, {
      margin-top: unit(30px / @base-font-size-px, em);
      margin-bottom: unit(30px / @base-font-size-px, em);
    })
  }
  
  &_list {
    img {
       display: none;
     }
     .respond-to-max(@bp-xs-max, {
       padding-left: 1em;
       .webfont-regular();
       .list__spaced;
     });

     .respond-to-min(@bp-sm-min, {
       img {
         display: block;
       }
       .list__unstyled;
       .content-l;

       .list_item {
         .content-l_col-1-2 {
           border-left-width: 0;
         }
         .content-l_col-1-2.short-desc {
           padding-top: unit((@grid_gutter-width / 2 ) / @base-font-size-px, em)
         }

         &.top-row {
           margin-bottom: @grid_gutter-width * 1.5;
         }

       }
     });
  }
  
  .data-use_ordinal {
    .icon-round;
    .webfont-demi();
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    background-color: @black;

    .respond-to-min(@bp-sm-min, {
      font-size: 15px;
      margin-top: 2px;
    });
  }
  
  table {
    width: 100%;
    margin: 0px;
  }
  
  .reports-tables {
    tr {
      border-bottom-width: 0;
    }

    td {
      border-bottom: 1px solid @table-border;
    }
  }  

  td.data-type,
  td.report-type,
  td.report-year {
    vertical-align: top;
  }

  .report-data {
    display: none;
  }

  .expandable {
    background: none;
  }
  
  .respond-to-max(@bp-xs-max, {
    .expandable-group {
      border-top: 1px solid @gray-80;
    }

    .expandable_content {
      padding-bottom: @grid_gutter-width / 2;
    }
    
    .expandable_header-left {
      width: 90%;
    }

    tbody {
      display: block;

      td {
        padding: 0;
      }
    }
    
    tr {
      border-bottom-width: 0;
    }
    
    .reports-tables {
      td {
        border-bottom-width: 0;
      }
    }

    .reports-tables {
      .u-clearfix;
    }

    .table__stack-on-small td:last-child {
      margin-bottom: 0;
    }

    td.data-type .plain-text,
    td.report-type {
      display: none;
    }

    td.report-year {
      .heading-5();
      padding-top: 10px;
    }
  });
  
  .respond-to-min(@bp-sm-min, {
    
    td.report-type {
      width: 35%;
    }
    td.report-year {
      width: 4.5em;
    }
    td.data-type {
      width: 9.5em;
    }
    td.report-link {
      ul {
        margin-bottom: 0;
      }
    }
    
    .expandable_row {
      display: none;
    }

    .expandable_target {
      display: none;
    }
    .expandable__padded {
      margin: 0;
      
      .expandable_content {
        margin: 0;

        &:before {
          display: none;
        }
      }
      
      tbody.expandable_content {
        padding: 0;
      }
    } 

    .report-data {
      display: inline;
    }
    
    .reports-tables .expandable__padded {
      border-bottom: none;
    }
  });
  
  .content_sidebar {
    .list_item {
      .webfont-regular();
    }
  }
  
  .list__links .list_item + .list_item  a {
    border-top-width: 0;
  }
}

//Fix IE9 & IE10 issues with displaying table as expandable group

@ie-mobile: ~"screen and (min-width: 0\0)";
@mobile-max-ems: unit((@bp-xs-max / @base-font-size-px), em);

@media @ie-mobile and (max-width: @mobile-max-ems) {
  .data-use {
    
    td {
      width: 100%;
      float: left;
    }
    
    .shared-data-table tr {
      float: left;
      width: 100%;
    }
  }
  
}
.lt-ie9 {
  
  .data-use .expandable__padded .expandable_content:before {
    display: none;
  }
  
}
  
