/* ==========================================================================
   Complaint Process
   ========================================================================== */

.process_illu {
  display: none;
  .respond-to-min(600px, {
    display: inline-block;
  });
}

.breadcrumbs.content_main {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
