.submit-a-complaint {

  .hero {
    background-color: @green-midtone;

    &_wrapper {
      .respond-to-min(@tablet-min, {
        display: block;
      });
      .respond-to-min(@desktop-min, {
        display: table;
      });
    }

    &_text {
      border-left-width: 0;

      .respond-to-min(@tablet-min, {
        display: block;
        width: 100%;
      });

      .respond-to-min(@desktop-min, {
        .grid_column(7,12);
        display: table-cell;
        vertical-align: middle;
      });

      .respond-to-min(1080px, {
        padding-right: 100px;
      });
    }

    &_subhead {
      .lead-paragraph();
      margin-top: 0;
    }

    &_image {
      padding-top: @grid_gutter-width / 2;
      .respond-to-max(800px, {
        min-height: initial;
      });
    }

    &_phone-prompt {
      .webfont-regular();
      padding-right: unit(@grid_gutter-width / 2 / @base-font-size-px, em);
      border-right: 1px solid @black;
      margin-top: 0;
      margin-right: unit(@grid_gutter-width / 2 / @base-font-size-px, em);
      margin-bottom: unit(@grid_gutter-width / @base-font-size-px, em);
      float: left;

      .respond-to-min(@desktop-min, {
        margin-left: -0.5em;
        text-indent: 0.5em;
      });

      .respond-to-min(980px, {
        .heading-3();
        padding-right: unit(@grid_gutter-width / 2 / @font-size, em);
        margin-right: unit(@grid_gutter-width / 2 / @font-size, em);
        margin-bottom: unit(@grid_gutter-width / @font-size, em);
      });

    }

    &_phone-number {
      .webfont-medium();
      line-height: unit(44px / @base-font-size-px, em);


      .respond-to-min(@desktop-min, {
        .heading-4();
        margin-left: -0.5em;
        line-height: unit(44px / @font-size, em);
        text-indent: 0.5em;
      });

      .respond-to-min(980px, {
        .heading-3();
        .webfont-medium();
        line-height: unit(54px / @font-size, em);
      });
    }

    .status-check {
      clear: both;
    }

    a.status-check_link {
      .webfont-medium();
      .u-link__colors(#0050b4, @teal, @pacific, @pacific, @navy);
      border-bottom-width: 1px;
      margin-left: @grid_gutter-width / 2;
    }
  }

  &_categories {
    h5 {
      color: #75787B;
      padding-bottom: 10px;
      border-bottom: 1px solid @block__border-bottom;
      margin-bottom: @grid_gutter-width / 2;
    }

    li {
      padding-bottom: @grid_gutter-width / 2;
    }

    .categories-section {
      padding-bottom: @grid_gutter-width / 3;
    }
  }

  &_wizard {
    p {
      .webfont-regular();
    }
    border-bottom: 4px solid #F1F2F2;
    background-color: #F8F8F8;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading-with-icon__lrg a {
    &,
    &:visited {
      color: @link-text;
      .heading-with-icon_icon {
        color: @black;
      }
    }

    &:hover {
      color: @link-text-hover;
      .heading-with-icon_icon {
        color: #5a5d61;
      }
    }

    &:active {
      color: @link-text-active;
      .heading-with-icon_icon {
        color: @darkgray;
      }
    }
  }

  &_guide {
    .btn {
      width: 100%;
      text-align: center;
    }
    padding: @grid_gutter-width;
    border: 1px solid #BABBBD;
    background: #E3E4E5;
  }

  .isocon-200 {
    display: none;
    .respond-to-min(600px, {
      display: block;
      width: auto;
      height: auto;
    });
    .respond-to-min(900px, {
      width: 200px;
    });
  }
  .h2-demi {
    .webfont-demi();
  }

  .heading-with-icon {
    display: table;
    &__lrg {
      .heading-with-icon_icon {
        font-size: 36px;
      }
    }
    &_icon {
      display: table-cell;
  	  vertical-align: middle;
    }
    &_text {
      display: table-cell;
  	  vertical-align: middle;
  	  padding-left: 0.5em;
    }

    a {
      border-bottom-width: 0;
    }
  }

  a {
    .link {
      border-bottom: 1px dotted @link-text;
    }

    &:hover,
    &:focus {
      .link {
        border-bottom: 1px dotted @link-text-hover;
      }
    }
  }

  .block-label {
    margin-top: 20px;
    display: block;
    .webfont-regular();
    font-size: 1.125em;
    margin-left: 30px;
  }

  .block-label input[type=radio]{
    position: absolute;
    margin: 6px 0 0 -25px;
  }

  .block-sub-label {
    display: block;
    font-size: .75em;
    color: #75787B;
  }

  .sub-product-radios {
    margin-bottom: @grid_gutter-width;
  }

  .l-separated--vertical {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .l-divided--top {
      border-top: 1px solid #D0D0CE;
  }

  &_guide-conditional {
    display: none;
  }

}
