<aside class="content_sidebar">
        <h2 class="header-slug">
            <span class="header-slug_inner">
                Related links
            </span>
        </h2>

        <ul class="list__unstyled list__spaced short-desc">
            <li class="list_item">
            <span class="jump-link_intro">Have an issue with a financial product or service?</span><br>
            <a class="list_link jump-link" href="/complaint/" target="\&quot;_blank\&quot;">
            <span class="jump-link_text">Submit a complaint to the CFPB</span>
            </a>
            </li>
            <li class="list_item">
            <span class="jump-link_intro">Already submitted a complaint?</span><br>
            <a class="list_link jump-link" href="https://help.consumerfinance.gov/app/utils/login_form/" target="\&quot;_blank\&quot;">
            <span class="jump-link_text">Check the status of your complaint</span>
            </a>
            </li>
            <li class="list_item">
            <span class="jump-link_intro">Want to see complaints from other consumers?</span><br>
            <a class="list_link jump-link" href="/complaintdatabase/" target="\&quot;_blank\&quot;">
            <span class="jump-link_text">View the Consumer Complaint Database</span>
            </a>
            </li>
        </ul>
</aside>
