{% extends 'base_responsive.html' %}
{% load staticfiles %}


{% block title %}How we use complaint data{% endblock %}

{% block content %}
<main class="content__2-1 content__bleedbar" role="main">
  <div class="content_wrapper data-use">
    <section class="content_main">
      <h1>
        How we use complaint data
      </h1>
      <p class="h3">
        Each week we send thousands of consumers’ complaints about financial products and services to companies for response. Data from those complaints help us understand the financial marketplace and protect consumers.
      </p>
      
      <div class="block data-use_list-block">
        <ul class="data-use_list content-l">
          <li class="list_item content-l_col-1-2 top-row">
            <span class="content-l_col-1-2">
              <img src="{% static 'complaint_common/img/forward.png' %}">
            </span>
            <span class="content-l_col-1-2 short-desc">
              We <strong>forward</strong> each complaint to the appropriate company for a response.
            </span>
          </li>
          <li class="list_item content-l_col-1-2 top-row">
            <span class="content-l_col-1-2">
              <img src="{% static 'complaint_common/img/share.png' %}">
            </span>
            <span class="content-l_col-1-2 short-desc">
              We <strong>share</strong> complaint data with state and federal agencies. We also present a report to Congress twice each year.
            </span>
          </li>
          <li class="list_item content-l_col-1-2">
            <span class="content-l_col-1-2">
              <img src="{% static 'complaint_common/img/analyze.png' %}">
            </span>
            <span class="content-l_col-1-2 short-desc">
              We <strong>analyze</strong> complaint data to help with our work to supervise companies, enforce federal consumer financial laws, and write  better rules and regulations.
            </span>
          </li>
          <li class="list_item content-l_col-1-2">
            <span class="content-l_col-1-2">
              <img src="{% static 'complaint_common/img/publish.png' %}">
            </span>
            <span class="content-l_col-1-2 short-desc">
              We <strong>publish</strong> complaints in the Consumer Complaint Database (without personal information).
            </span>
          </li>
        </ul>
      </div>
      
      <div class="block block__border-top block__padded-top">
         <h2>What we publish in the Consumer Complaint Database</h2>
         <p class="short-desc">Complaints must meet all of the publication criteria in our 
         <a href="http://www.consumerfinance.gov/f/201303_cfpb_Final-Policy-Statement-Disclosure-of-Consumer-Complaint-Data.pdf" class="icon-link icon-link__download  icon-link__no-wrap">
           <span class="icon-link_text">policy statement</span>
         </a>, 
         <a href="http://www.consumerfinance.gov/f/201503_cfpb_disclosure-of-consumer-complaint-narrative-data.pdf" class="icon-link icon-link__download  icon-link__no-wrap">
           <span class="icon-link_text">narrative data policy statement</span>
         </a>, and 
         <a href="http://files.consumerfinance.gov/a/assets/201503_cfpb_Narrative-Scrubbing-Standard.pdf" class="icon-link icon-link__download  icon-link__no-wrap">
           <span class="icon-link_text">narrative scrubbing standard</span>
         </a>.</p>
          <h3><span class="data-use_ordinal">1</span>Data that we always share</h3>
          
          <table class="table__stack-on-small shared-data-table">
            <thead>
              <tr>
                <td class="data-type">Data type</td>
                <td class="data-description">
                  Description
                </td>
              </tr>
            </thead>
            <tbody class="expandable-group" data-accordion=true>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Date received</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Date received</span>
                </td>
                <td class="data-description expandable_content">
                  The date the CFPB received the complaint. For example, "05/25/2013"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Product</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Product</span>
                </td>
                <td class="data-description expandable_content">
                  The type of product the consumer identified in the complaint. For example, "Bank account or service" or "Student loan"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Sub-product</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Sub-product</span>
                </td>
                <td class="data-description expandable_content">
                  The type of sub-product the consumer identified in the complaint. For example, "Checking account" or "Non-federal student loan"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Issue</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Issue</span>
                </td>
                <td class="data-description expandable_content">
                  The issue the consumer identified in the complaint. For example, "Deposits and withdrawals" or "Repaying your loan"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Sub-issue</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Sub-issue</span>
                </td>
                <td class="data-description expandable_content">
                  The sub-issue the consumer identified in the complaint. For example, "Information is not mine"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Company public response</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Company public response</span>
                </td>
                <td class="data-description expandable_content">
                  The company's optional, public-facing response to a consumer's complaint. Companies provide a public response to the CFPB, for posting on the public database, by selecting a response from a set list of options.
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Company</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Company</span>
                </td>
                <td class="data-description expandable_content">
                  The complaint is about this company. For example, "ABC Bank"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">State</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">State</span>
                </td>
                <td class="data-description expandable_content">
                  The consumer’s reported mailing state for the complaint
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">ZIP code</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">ZIP code</span>
                </td>
                <td class="data-description expandable_content">
                  Mailing ZIP code provided by the consumer. This field may: i) include the first five digits of a ZIP code; ii) include the first three digits of a ZIP code (if the consumer consented to publication of their complaint narrative); or iii) be blank (if ZIP codes have been submitted with non-numeric values, if there are less than 20,000 people in a given ZIP code, or if the complaint has an address outside of the United States).
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Tags</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Tags</span>
                </td>
                <td class="data-description expandable_content">
                  Data that supports easier searching and sorting of complaints submitted by or on behalf of consumers.   
                  <br/>
                  <br/>
                  For example, complaints where the submitter reports the age of the consumer as 62 years or older are tagged, &lsquo;Older American.&rsquo;  Complaints submitted by or on behalf of a servicemember or the spouse or dependent of a servicemember are tagged, &lsquo;Servicemember.&rsquo;  Servicemember includes anyone who is active duty, National Guard, or Reservist, as well as anyone who previously served and is a Veteran or retiree.
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Consumer consent provided?</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Consumer consent provided?</span>
                </td>
                <td class="data-description expandable_content">
                  Identifies whether the consumer opted in to publish their complaint narrative.  We do not publish the narrative unless the consumer consents and consumers can opt-out at any time.
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Submitted via</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Submitted via</span>
                </td>
                <td class="data-description expandable_content">
                  How the complaint was submitted to CFPB. For example, "Web or "Phone"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Date sent to company</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Date sent to company</span>
                </td>
                <td class="data-description expandable_content">
                  The date the CFPB sent the complaint to the company
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Company response to consumer</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Company response to consumer</span>
                </td>
                <td class="data-description expandable_content">
                  This is how the company responded. For example, "Closed with explanation"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Timely response?</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Timely response?</span>
                </td>
                <td class="data-description expandable_content">
                  Whether the company gave a timely response. For example, "Yes" or "No"
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Consumer disputed?</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Consumer disputed?</span>
                </td>
                <td class="data-description expandable_content">
                  Whether the consumer disputed the company’s response
                </td>
              </tr>
              <tr class="expandable expandable__padded">
                <td class="data-type">
                  <button class="expandable_header expandable_target" title="Expand content">
                    <span class="expandable_header-left expandable_label">Complaint ID</span>
                    <span class="expandable_header-right expandable_link">
                      <span class="expandable_cue-open">
                        <span class="u-visually-hidden">Show</span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                      </span>
                      <span class="expandable_cue-close">
                        <span class="u-visually-hidden">Hide</span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                      </span>
                    </span>
                  </button>
                  <span class="plain-text">Complaint ID</span>
                </td>
                <td class="data-description expandable_content">
                  The unique identification number for a complaint
                </td>
              </tr>
            </tbody>
          </table>
          
          <h3><span class="data-use_ordinal">2</span>Data that we share with the consumer's consent</h3>
          <p class="short-desc">We share consumer complaint narratives only with consumers' consent. Consumer complaint narrative is the consumer-submitted description of "what happened" from the complaint. Consumers must opt-in to share their narrative. We will not publish the narrative unless the consumer consents, and consumers can opt-out at any time. The CFPB takes reasonable steps to scrub personal information from each complaint that could be used to identify the consumer.</p>
          <h3><span class="data-use_ordinal">3</span>Data that stays private to the consumer and the company</h3>
          <p class="short-desc">All personal information, such as names, contact information, account numbers, social security numbers, and supporting documents help the company identify the consumer. This information is not published.</p>
      </div>
      
      
      <div class="block block__border-top block__padded-top" id="reports">
         <h2>Reports created using the data</h2>
         <div class="expandable-group reports-tables" data-accordion=true>
           <table class="table__stack-on-small expandable expandable__padded">
             <thead>
                <tr>
                  <td class="report-type">Type</td>
                  <td class="report-year">Year</td>
                  <td class="report-link">Report</td>
                </tr>
              </thead>
              <tbody class="expandable_row">
                <tr>
                   <td>
                     <button class="expandable_header expandable_target" title="Expand content">
                       <span class="expandable_header-left expandable_label">Monthly Complaint Reports</span>
                       <span class="expandable_header-right expandable_link">
                         <span class="expandable_cue-open">
                           <span class="u-visually-hidden">Show</span>
                           <span class="cf-icon cf-icon-plus-round"></span>
                         </span>
                         <span class="expandable_cue-close">
                           <span class="u-visually-hidden">Hide</span>
                           <span class="cf-icon cf-icon-minus-round"></span>
                         </span>
                       </span>
                     </button>
                   </td>
                 </tr>
               </tbody>
              <tbody class="expandable_content">
               <tr>
                 <td class="report-type" rowspan=2>Monthly Complaint Reports</td>
                 <td class="report-year">2016</td>
                 <td class="report-link">
                   <ul class="list list__links">
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-13/">Volume 13</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-12/">Volume 12</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-11/">Volume 11</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-10/">Volume 10</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-9/">Volume 9</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-8/">Volume 8</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-7/">Volume 7</a>
                     </li>
                   </ul>
                 </td>
               </tr>
                 <td class="report-year">2015</td>
                 <td class="report-link">
                   <ul class="list list__links">
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-6/">Volume 6</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-5/">Volume 5</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-4/">Volume 4</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-3/">Volume 3</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-2/">Volume 2</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/monthly-complaint-report-vol-1/">Volume 1</a>
                     </li>
                   </ul>
                 </td>
               </tr>
             </tbody>
           </table>
           <table class="table__stack-on-small expandable expandable__padded">
             <thead class="u-visually-hidden">
               <tr>
                 <td class="report-type">Type</td>
                 <td class="report-year">Year</td>
                 <td class="report-link">Report</td>
               </tr>
             </thead>
             <tbody class="expandable_row">
               <tr>
                  <td>
                    <button class="expandable_header expandable_target" title="Expand content">
                      <span class="expandable_header-left expandable_label">Reports to Congress</span>
                      <span class="expandable_header-right expandable_link">
                        <span class="expandable_cue-open">
                          <span class="u-visually-hidden">Show</span>
                          <span class="cf-icon cf-icon-plus-round"></span>
                        </span>
                        <span class="expandable_cue-close">
                          <span class="u-visually-hidden">Hide</span>
                          <span class="cf-icon cf-icon-minus-round"></span>
                        </span>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
             <tbody class="expandable_content">
               <tr>
               </tr>
               <tr>
                 <td class="report-type" rowspan=5>Reports to Congress</td>
                 <td class="report-year">2015</td>
                 <td class="report-link">
                   <ul class="list list__links">
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/2015-consumer-response-annual-report/">Annual report</a>
                     </li>
                   </ul>
                 </td>
               </tr>
               <tr>
                 <td class="report-year">2014</td>
                 <td class="report-link">
                   <ul class="list list__links">
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/2014-consumer-response-annual-report/">Annual report</a>
                     </li>
                     <li class="list_item">
                       <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/semi-annual-report-spring-2014/">Semi-annual report</a> <span class="report-data">(Oct. 2013-Mar. 2014)</span>
                     </li>
                   </ul>
                 </td>
               </tr>
               <tr>
                  <td class="report-year">2013</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/2013-consumer-response-annual-report/">Annual report</a>
                      </li>
                    </ul>
                 </td>
                </tr>
                <tr>
                  <td class="report-year">2012</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/consumer-response-annual-report-2013/">Annual report</a>
                      </li>
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/semi-annual-report-2/">Semi-annual report</a> <span class="report-data">(July-Dec. 2012)</span>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="report-year">2011</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/consumer-response-annual-report/">Annual report</a>
                      </li>
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/semi-annual-report-of-the-consumer-financial-protection-bureau/">Semi-annual report</a> <span class="report-data">(July-Dec. 2011)</span>
                      </li>
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/consumer-response-interim-report-cfpbs-credit-card-complaint-data/">Consumer Response interim report on CFPB's credit card complaint data</a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            
            
            
            <table class="table__stack-on-small expandable expandable__padded">
              <thead class="u-visually-hidden">
                 <tr>
                   <td class="report-type">Type</td>
                   <td class="report-year">Year</td>
                   <td class="report-link">Report</td>
                 </tr>
               </thead>
               <tbody class="expandable_row">
                 <tr>
                    <td>
                      <button class="expandable_header expandable_target" title="Expand content">
                        <span class="expandable_header-left expandable_label">Complaints by the numbers</span>
                        <span class="expandable_header-right expandable_link">
                          <span class="expandable_cue-open">
                            <span class="u-visually-hidden">Show</span>
                            <span class="cf-icon cf-icon-plus-round"></span>
                          </span>
                          <span class="expandable_cue-close">
                            <span class="u-visually-hidden">Hide</span>
                            <span class="cf-icon cf-icon-minus-round"></span>
                          </span>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
               <tbody class="expandable_content">
                <tr>
                  <td class="report-type">
                    Complaints by the numbers
                  </td>
                  <td class="report-year">
                    2015
                  </td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link icon-link icon-link__pdf icon-link__no-wrap" href="http://files.consumerfinance.gov/f/201503_cfpb_complaints-by-the-numbers.pdf">
                          <span class="icon-link_text">2015 report</span>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr> 
              </tbody>
            </table>
            
            
            
            <table class="table__stack-on-small expandable expandable__padded">
              <thead class="u-visually-hidden">
                 <tr>
                   <td class="report-type">Type</td>
                   <td class="report-year">Year</td>
                   <td class="report-link">Report</td>
                 </tr>
               </thead>
               <tbody class="expandable_row">
                 <tr>
                    <td>
                      <button class="expandable_header expandable_target" title="Expand content">
                        <span class="expandable_header-right expandable_link">
                          <span class="expandable_cue-open">
                            <span class="u-visually-hidden">Show</span>
                            <span class="cf-icon cf-icon-plus-round"></span>
                          </span>
                          <span class="expandable_cue-close">
                            <span class="u-visually-hidden">Hide</span>
                            <span class="cf-icon cf-icon-minus-round"></span>
                          </span>
                        </span>
                        <span class="expandable_header-left expandable_label">Snapshots of complaints received</span>
                        
                      </button>
                    </td>
                  </tr>
                </tbody>
               <tbody class="expandable_content">
                <tr>
                  <td class="report-type" rowspan=3>
                    Snapshots of complaints received
                  </td>
                  <td class="report-year">2014</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link icon-link icon-link__pdf icon-link__no-wrap" href="http://files.consumerfinance.gov/f/201407_cfpb_report_consumer-complaint-snapshot.pdf">
                          <span class="icon-link_text">July report</span>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="report-year">2013</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link" href="http://www.consumerfinance.gov/data-research/research-reports/a-snapshot-of-complaints-received-3/">July report</a>
                      </li>
                      <li class="list_item">
                        <a class="list_link icon-link icon-link__pdf icon-link__no-wrap" href="http://files.consumerfinance.gov/f/201303_cfpb_Snapshot-March-2013.pdf">
                          <span class="icon-link_text">March report</span>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="report-year">2012</td>
                  <td class="report-link">
                    <ul class="list list__links">
                      <li class="list_item">
                        <a class="list_link icon-link icon-link__pdf icon-link__no-wrap" href="http://files.consumerfinance.gov/f/201206_cfpb_shapshot_complaints-received.pdf">
                          <span class="icon-link_text">June report</span>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            
            
            
          </div>
      </div>
      
    </section>
    
    {% include 'includes/related_links.html' %}

  </div>
</main>
{% endblock %}

{% block page_js %}
    <script src="{% static 'complaint_common/js/data-use.js' %}"></script>
{% endblock %}
